{% extends 'index.html'%}
{%block title%}Addtodo{%endblock%}
{%block content%}
 <div class='container col-md-6' style='margin: 0 auto;'>
        <form method='get' action='/update{{id}}' >
        {% csrf_token %}
            <div class='form-group mb-3' >
                <label for='title'>TODO TITLE</label>
                <input id='title' name='title' type='text' style='margin-top: 8px;' class='form-control' value={{title}}>
            </div>
            <div class='form-group mb-3' >
                <label for='description'>TODO Description</label>
                <textarea id='description' name='description' style='margin-top: 8px;' type='text' class='form-control'>{{description}} </textarea>
            </div>
            <div class='form-group mb-3' >
                <label for='date'>TODO date(enter the date)</label>
                <input id='date' name='date' type='date' style='margin-top: 8px;' class='form-control' value={{date}}>
            </div>
            <div class='form-group mb-3' >
                <label for='priority'>TODO priority</label>
                <input id='priority' name='priority' style='margin-top: 8px;' type='integer' class='form-control' value={{priority}}>
            </div>
            <button type='submit' name='submit' class='btn btn-primary'> Update </button>
        </form>
</div>
 {%endblock%}