{% extends 'index.html'%}
{%block title%}submit{%endblock%}
{%block content%}
 <div class='container col-md-6'>
 {% if not alltodo%}
<div style='margin-top: 2rem;'>
<h4 style='font-family: verdana sans-serif; margin-top: 20px' > OOPS !!!! dont have any tasks </h4>
<h5 style='font-family: verdana sans-serif; margin-top: 20px'  > Add some tasks</h5>
<a class='btn btn-primary' href='add'>add task</a>
</div>
{%endif%}
{% for each in alltodo%}
<div class="card" style="width: 18rem; margin-top: 2rem; margin-bottom: 2rem">
  <div class="card-body">
    <h5 class="card-title">{{each.title}} - {{each.priority}}</h5>
    <p class="card-text">{{each.description}}</p>
    <p class='card-text'>Last date- {{each.date}}</p>
       <button class='btn btn-danger'> Delete </button>
    <button class='btn btn-warning'> Edit </button>
    <button class='btn btn-success'> Completed </button>
  </div>
</div>
{% endfor %}
</div>
 {%endblock%}